.parentDiv
    display: flex
    
.logingWindow
    display: block
    justify-content: center
    vertical-align: center
    margin: auto
    margin-top: 10%
    max-width: 20%
.spacer
    height: 25px

.buttonsSpacer
    height: 50px

.example-full-width
    display: block

.loginButton
    position: relative
    float: left
    width: 40%
    height: 100%


.registerButton
    position: relative
    float: right
    width: 40%
    height: 100%

.fieldDescription
    text-align: center

    