.toolbar
    background-color: gray
    position: sticky
    top: 0px
    margin: 0
    z-index: 1000
    overflow: hidden
    
    
.toolbar-icons
    display: flex
    position: absolute
    right: 15%

.spacer
    width: 40px

.search-field
    display: flex
    position: absolute
    right: 50%


.clickableIcon
    cursor: pointer

.instaLogo
    cursor: pointer
    padding-left: 150px
    font-size: 40px
    font-family: 'Brush Script MT'