<mat-toolbar class="toolbar">
    <div class="instaLogo" (click)="goToMainPage()">
        Instagram Lite
    </div>
    <div class="toolbar-icons">
        <mat-icon class="clickableIcon" (click)="goToMainPage()">home</mat-icon>
        <div class="spacer"></div>
        <mat-icon class="clickableIcon" (click)="goToConversations()">message</mat-icon>
        <div class="spacer"></div>
        <mat-icon class="clickableIcon" (click)="addNewPost()">add_box</mat-icon>
        <div class="spacer"></div>
        <mat-icon class="clickableIcon">info</mat-icon>
        <div class="spacer"></div>
        <mat-icon class="clickableIcon" (click)="logOut()">block</mat-icon>
    </div>
</mat-toolbar>
