.wholeDialog
    max-height: 800px
    width: 1200px
    display: flex
    flex-direction: row
    padding: 0
    margin: 0
    overflow-wrap: break-word

.postImage
    max-height: 800px
    padding: 0

.postPhoto
    max-height: 800px
    max-width: auto
    padding: 0

.sideSection
    display: flex
    flex-direction: column
    border-style: solid
    overflow-wrap: break-word
    width: 30%

.postAuthorName
    font-size: 25px
    text-align: center

.postDescription
    overflow-x: hidden
    overflow-wrap: break-word
    padding: 10px

.commentsPart
    padding: 10px
    
