<div class="pubPosts" *ngFor="let post of publishedPosts">
    <mat-card class="post"> 
        <div class="postAuthor" (click)="goToUserProfile(post.authorID)">
            <img class="postAuthorPhoto" src = "{{post.author.photo}}">
            <mat-label class="author" > {{post.author.name}} </mat-label>
        </div>
        <img class="image" [src]= "post.image">
        <br>
        <mat-icon class="clickHeart" (click)="addLike(post)">{{isPostLikedByLoggedUser(post)}}</mat-icon>
        {{post.likes}}
        <br>
        Title : {{post.description}}
        <br>
        Comments : {{post.comments.length}} <i class="hide-showComments" (click)="showComments(post.id)"> {{description}} comments</i>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div *ngIf="post.showComments">
            <p class="comment" *ngFor="let comment of post.comments" (click)="goToUserProfile(comment.author.id)"> {{comment.author.name}} : {{comment.commentContent}} </p>
        </div>
        <div class="addCommentFields">
            <mat-form-field appearance="outline">
        
                <mat-icon (click)="addEmotikon()" matSuffix>sentiment_very_satisfied</mat-icon>
            
                <mat-label>Add comment</mat-label>
                
                <input [(ngModel)]="tempComment" matInput placeholder="Add coment">
            </mat-form-field>
            <button (click)="addComment(post.id)" mat-stroked-button color="primary" class="addCommentButton">Add</button>
        </div>
    </mat-card>    
</div>