.pubPosts
    width: 40%
    overflow: hidden
    display: flex
    flex-direction: column
    vertical-align: center
    background: #F7F8F8  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8)  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #ACBB78, #F7F8F8) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


.class
    border-style: double

.post
    width: 100%
    vertical-align: center
    border: solid
    border-width: 0.1em
    padding: 0px
    padding-bottom: 20px

.postAuthor
    cursor: pointer
    padding-left: 20px
    padding-top: 10px
    padding-bottom: 10px

.author
    padding-left: 10px
    padding-top: 20px
    font-size: 20px
    text-align: center
    height: 20px

.postDescription
    overflow-wrap: break-word

.underPostStuff
    padding: 20px
    padding-top: 5px

.underPostIcons
    display: flex
    flex-direction: row

.iconsSpacer
    width: 20px


.postAuthorPhoto
    max-height: 30px
    max-width: auto
    border-radius: 10px
    vertical-align: middle

.addCommentButton
    height: 40px

.addCommentFields
    max-height: 40px
    display: flex
    flex-direction: row

.comments
    height: 20px
    font-size: 10px

.comment
    line-height: 10px
    cursor: pointer

.image
    width: 100%

.clickHeart
    cursor: pointer

.hide-showComments
    cursor: pointer

.postSpacer
    height: 40px
    background-color: #d8e0b9



    