.pubPosts
    width: 40%
    overflow: hidden
    display: flex
    border-color: black
    vertical-align: center

.class
    border-style: double

.post
    width: 100%
    margin: auto
    vertical-align: center
    border: solid

.image
    width: 100%

.clickHeart
    cursor: pointer

.hide-showComments
    cursor: pointer



    