.userData
    margin: auto
    margin-top: 1%
    width: 45%
    max-height: 300px
    border-style: double
    display: flex
    flex-direction: row

.image
    max-width: 35%
    max-height: 80%
    padding: 20px
    border-radius: 80px
    

.postOnProfile
    width: 100%

.UserProfileData
    display: flex
    flex-direction: column
    margin-left: 30px

.UserProfileHardData
    display: flex
    flex-direction: row

.userProfileDescription
    // border-style: double
    display: flex
    flex-direction: column

.spacer
    flex-grow: 1

.usersPosts
    margin: auto
    width: 50% 

mat-grid-tile 
  background: lightblue
  margin-top: 10px
