.parentDiv
    display: flex

.registerWindow
    display: block
    justify-content: center
    vertical-align: center
    margin: auto
    margin-top: 10%
    max-width: 20%

.example-full-width
    display: block

.fieldDescription
    position: relative
    align-content: center
    text-align: center    

.registerButton
    position: relative
    float: right
    max-width: 45%
    overflow: hidden

.goBackButton
    position: relative
    text-align: center
    float: left
    max-width: 45%
    overflow: hidden