<mat-stepper [linear]="true" #stepper class="wholeRegister">
    <mat-step>
      <form class="dataBlock">
        <ng-template matStepLabel>Fill out your data</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>username</mat-label>
          <input matInput placeholder="This is how other users will seen you as" #newUserUsername>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>login</mat-label>
          <input matInput placeholder="Login cannot contain white characters and must be unique !" #newUserLogin>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>password</mat-label>
          <input matInput placeholder="***********" #newUserPassword>
        </mat-form-field>
        <div>
          <button class="loginButton" mat-raised-button color="warn" (click)="backToLogin()">Log In</button>          
          <button class="nextButton" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form class="dataBlock2">
          <mat-form-field appearance="fill" >
            <mat-label>Tell something about you</mat-label>
            <textarea matInput class="descriptionField" #newUserDescription></textarea>
          </mat-form-field>
          <div class="drop-zone">            
            <p class="timer-info">Drop your file here</p>
            <div class="timer-bar">
              <input type="file" (change)="onFileSelected($event)" #newUserPhoto>
            </div>
           </div>

      </form>        
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext class="nextButton">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button class="nextButton" mat-raised-button color="accent" (click)="addNewUser(newUserUsername.value, newUserLogin.value, newUserPassword.value, newUserDescription.value)">Take me in! </button>      
      </div>
    </mat-step>

</mat-stepper>
