<mat-stepper [linear]="true" #stepper class="wholeRegister">
    <mat-step>
      <form class="dataBlock">
        <ng-template matStepLabel>Fill out your data</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>username</mat-label>
          <input matInput placeholder="This is how other users will seen you as" [(ngModel)]="newUsername">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>login</mat-label>
          <input matInput placeholder="Last name, First name" >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>password</mat-label>
          <input matInput placeholder="Last name, First name" >
        </mat-form-field>
        <div>
          <button class="loginButton" mat-button color="warn" (click)="backToLogin()">Log In</button>          
          <button class="nextButton" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form class="dataBlock2">
          <mat-form-field appearance="fill" >
            <mat-label>Tell something about you</mat-label>
            <textarea matInput class="descriptionField"></textarea>
          </mat-form-field>
          <div class="drop-zone">
            <div class="timer-bar">
             <div class="wrapper">
              <i class='success-icon ion-ios-checkmark-empty'></i>
              <p class='success-text'></p>
             </div>
            </div>
            <p class="timer-info">Drop your file here</p>
           </div>

      </form>        
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext class="nextButton">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button class="nextButton" mat-raised-button color="accent">Take me in! </button>      
      </div>
    </mat-step>

</mat-stepper>
